<form class='form' action='' method='get'>
  <label class='form-control'>
    <span>Query</span>
    <input
      type='text'
      name='searchQuery'
      value='{{searchQueryValue}}'
      title='Must have at least one alphanumeric segment with length >=3'
      pattern='.*(\p{L}|\p{N}){3,}.*'
      required
    />
  </label>
  <label class='form-control'>
    <span>My brand</span>
    <input type='text' id='myBrand' {{maybeDisabled (empty items)}} />
  </label>
  <button class='form-button' type='submit'>Search</button>
</form>
{{#if items}}
  <h2>Search result for "{{searchQueryValue}}"</h2>
  <ol id='brandList'>
    {{#each items}}
      <li>{{this}}</li>
    {{/each}}
  </ol>
{{else}}
  {{#if (emptyArray items)}}
    <h2>No search result for "{{searchQueryValue}}"</h2>
  {{/if}}
{{/if}}
